body {
  height: 100vh;
  background-color: #f5f5f5;
}

.btn-nuevo {
  top: 68px;
  /* bottom: 25px; */
  /* font-size: 20px; */
  /* padding: 5px; */
  position: fixed;
  left: 12px;
  z-index: 100;
}

.btn-buscar {
  top: 130px;
  /* bottom: 25px; */
  /* font-size: 20px; */
  /* padding: 5px; */
  position: fixed;
  left: 12px;
  z-index: 100;
}

.fab-danger {
  left: 25px;
  z-index: 99;
}
